@font-face {
  font-family: 'Yandex Sans';
  src: url(fonts/yandex-sans.woff2) format('woff2');
}

body {
  display: grid;
  grid-template:
    'topbar topbar topbar topbar topbar aside' auto
    '. body-top body-top body-top . aside' auto
    'ya-logo search-field search-field search-field . aside' auto
    '. ad ad ad . aside' auto
    '. widget widget widget . aside' auto / 12% 1fr 1fr 1fr 110px 12%;

  font-family: 'Yandex Sans', Helvetica, sans-serif;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: topbar;

  width: 100%;
}

.topbar__location {
  display: flex;
  flex-direction: row;

  margin-left: 16px;

  font-size: 14px;
}

.topbar__location_current {
  margin-top: 0;
  margin-left: 4px;
}

.topbar__settings {
  margin-top: 11px;
  margin-right: 16px;

  font-size: 14px;
}

.topbar__settings_text {
  margin-top: 10px;

  cursor: pointer;
}

.geo-icon {
  display: block;

  width: 16px;
  height: 16px;

  filter: contrast(0.02);
}

.aside {
  display: block;
  grid-area: aside;

  width: 100%;
  margin-left: auto;
}

.login {
  height: 50px;
  margin-top: 4px;
  padding: 8px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.user-login {
  margin-top: 0;
}

.ya-text::first-letter {
  color: red;
}

.ya-link {
  color: #0054b9;
  text-decoration: none;
}

.visited-link {
  color: #0d44a0;
}

.body-top {
  display: flex;
  flex-direction: row;
  grid-area: body-top;

  width: 100%;
}

.body-top__left-section {
  display: flex;
  flex-direction: column;

  width: 70%;

  /* justify-content: space-between; */
}

.body-top__left-section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-tab {
  margin-right: 16px;

  color: #0054b9;
  text-decoration: none;
}

.header-tab_big {
  font-size: 20px;
}

.small-text {
  font-size: 14px;
}

.news-item {
  margin-bottom: 6px;
}

.body-top__left-section__list {
  margin-top: 4px;
  padding-left: 0;

  font-size: 16px;
}

.body-top__left-section__footer {
  display: flex;
  flex-direction: row;

  margin-top: auto;
}

.body-top__left-section__footer__currency {
  display: flex;
  flex-direction: row;

  margin-right: 16px;
}

.currency-item {
  margin-top: 0;
  margin-right: 8px;
}

.body-top__right-section {
  width: 40%;
}

.discount-name {
  display: block;

  margin-bottom: 0;
  margin-left: 64px;

  color: #0054b9;
  font-size: 20px;
  text-decoration: none;
}

.discount-img {
  height: 150px;
  margin-top: 50px;
  margin-left: 64px;
}

.ya-market {
  margin-top: 0;
  margin-left: 64px;

  font-size: 14px;
}

.logo-part {
  grid-area: ya-logo;

  width: 100%;
}

.logo-part-letters {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;

  height: 30%;
  padding-right: 10%;

  font-size: 280%;
}

.logo-letter-ya {
  margin-top: 7%;

  color: #216ef1;
}

.logo-letter-n {
  margin-top: 7%;

  color: #d23e2b;
}

.logo-letter-d {
  margin-top: 7%;

  color: #fcc001;
}

.logo-letter-e {
  margin-top: 7%;

  color: #2470f1;
}

.logo-letter-k {
  margin-top: 7%;

  color: #1b9655;
}

.logo-letter-s {
  margin-top: 7%;

  color: #d23e2b;
}

.time-tab {
  margin-top: 18px;
}

.search-field {
  grid-area: search-field;
}

.search-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 65%;
}

.search-category {
  margin-bottom: 4px;

  color: #0054b9;
  text-decoration: none;
}

.dark-text {
  margin-top: 4px;

  color: black;
}

.gray-text {
  color: #999;
}

.bold-text {
  font-weight: bold;
}

.search-query-example {
  margin-left: 6px;
}

.search-query-example-cont {
  margin-top: 4px;
}

.search-input {
  box-sizing: border-box;
  width: 95%;
  height: 100%;

  border: 2px solid #ffdb4d;
}

.search-input:focus {
  outline: none;
}

.input-wrapper {
  display: flex;
  flex-direction: row;

  height: 36px;
}

.find-btn {
  height: 100%;
}

.mic-btn {
  position: relative;
  right: 150px;

  width: 24px;
  height: 24px;
  margin-top: 6px;

  filter: contrast(0.02);
}

.keyboard-btn {
  position: relative;
  right: 145px;

  width: 24px;
  height: 24px;
  margin-top: 6px;

  filter: contrast(0.02);
}

.search-example {
  display: flex;
  flex-direction: row;
}

.ad-wrapper {
  grid-area: ad;

  box-sizing: border-box;
  width: 90%;

  border: 2px solid black;
}

.ad-img {
  width: 100%;
}

.widgets {
  display: flex;
  flex-direction: row;
  grid-area: widget;

  width: 100%;

  margin-top: 32px;
}

.joke-widget-wrapper,
.widget-TV,
.widget-car,
.refresh-jokes-label {
  display: none;
}

.widget {
  width: 40%;
}

.widget__title {
  margin-bottom: 4px;

  font-size: 20px;
}

.widget__list {
  margin-top: 0px;
  padding-left: 0;

  font-size: 14px;
  list-style-type: none;
}

.widget__list-item {
  margin-top: 8px;
}

.widget-car__list {
  overflow: scroll;

  height: 195px;
}

::-webkit-scrollbar {
  width: 0px;

  background: transparent;
}

.shadow {
  height: 1px;

  border: 1px solid transparent;
}

.shadow-top {
  position: relative;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.shadow-bottom {
  position: relative;
  bottom: 30px;
  z-index: 1;

  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}

.settings-popup {
  position: absolute;
  top: 5%;
  left: 77%;

  display: none;

  width: 200px;
  padding: 8px;

  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.settings-popup__item {
  margin-left: 12px;
}

.settings-checkbox {
  position: absolute;
  left: 77%;
  z-index: 2;

  display: none;
}

.jokes-checkbox {
  top: 6%;
}

.tv-checkbox {
  top: 8.2%;
}

.car-checkbox {
  top: 10.8%;
}

.show-settings-checkbox {
  display: none;
}

.show-settings-checkbox:checked ~ .settings-popup,
.show-settings-checkbox:checked ~ .settings-checkbox {
  display: block;
}

.jokes-checkbox:checked ~ .widgets .joke-widget-wrapper {
  display: block;
}

.jokes-checkbox:checked ~ .refresh-jokes-label {
  display: block;
}

.tv-checkbox:checked ~ .widgets .widget-TV {
  display: block;
}

.car-checkbox:checked ~ .widgets .widget-car {
  display: block;
}

.refresh-jokes-checkbox {
  display: none;
}

.refresh-jokes-checkbox:checked ~ .widgets .jokes-widget-1 {
  display: none;
}

.refresh-jokes-checkbox:checked ~ .widgets .jokes-widget-2 {
  display: block;
}

.refresh-jokes {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.refresh-jokes-label {
  position: absolute;
  bottom: 8%;
  left: 12.5%;

  cursor: pointer;
}

.refresh-jokes__refresh-img {
  width: 16px;
  height: 16px;
}

.refresh-jokes__text {
  display: inline-block;

  margin-left: 4px;
}

.jokes-widget-2 {
  display: none;
}
