body {
  margin: 0px;

  font-family: sans-serif;
}
/*----------------------коржмаркет шапка----------------------*/
.header {
  position: fixed;

  top: 0;

  z-index: 10;

  width: 100%;
  height: 70px;

  border-bottom: 1px solid black;

  background-color: white;
}

.title {
  margin: 0;
  padding: 13px 0px;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;
  text-align: center;
}

.title::first-letter {
  color: red;
}

/*----------------------main block----------------------*/

.main {
  padding-top: 100px;

  font-family: 'Gill Sans', sans-serif;
}

.description {
  font-size: 24px;
}

.description2 {
  margin: 10px 10px 10px 10px;

  font-size: 14px;
}

/*----------------------corgi container----------------------*/
.corgi-container {
  padding-top: 5%;
  padding-left: 20%;
}

/*---------------------------footer---------------------------*/

.footer {
  position: fixed;
  bottom: 0px;

  width: 100%;
  height: 40px;

  padding-left: 10px;

  border-top: 1px solid black;

  background-color: white;

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer a {
  color: #4c4cd8;
}

.footer-1 {
  float: left;

  width: 50%;
}

.footer-2 {
  padding-right: 20px;

  text-align: right;
}

.row {
  padding-top: 10px;
}

.row:after {
  clear: both;

  display: table;

  content: '';
}
